HOST: http://s2-api.sanger.ac.uk

--- Lims-laboratory-app ---
---
Welcome to our API documentation for lims-laboratory-app. 

S2 API provides a JSON RESTful interface. The path to the root URL `/` only is needed to interact with the API.
All the other actions are embedded in every JSON response.
Please note that all URLs are to be considered unstable. As a consequence, you should only refer to the actions
elements returned in the response.

Please find below the different actions available in the JSON:

* `create` creates a new resource using a HTTP POST request
* `read`, `first` and `last` actions are used for pagination through HTTP GET requests
* `update` action update a resource using a HTTP PUT request
* `delete` action delete a resource using a HTTP DELETE request

In top of the above actions, more specific actions are available to interact between multiple resources.
These actions use generally HTTP POST request and are listed under the root JSON response (for example `/actions/tube_rack_transfer`).

Please note you will generally find two different URLs to create a new resource, which produce an identical result:
`/resources` or `/actions/create_resource`.
---
--
Root
--

The root JSON lists all the resources available through the API and all the actions which can be performed. 
A resource responds to all the actions listed under its `actions` elements.
Consider this URL and the JSON response like the entry point for S2 API. All the other interactions through the 
API can be performed browsing this JSON response.
GET /
> Accept: application/json
< 200
< Content-Type: application/json
{
    "actions": {
        "read": "http://example.org/"
    },
    "batches": {
        "actions": {
            "create": "http://example.org/batches",
            "read": "http://example.org/batches",
            "first": "http://example.org/batches/page=1",
            "last": "http://example.org/batches/page=-1"
        }
    },
    "users": {
        "actions": {
            "create": "http://example.org/users",
            "read": "http://example.org/users",
            "first": "http://example.org/users/page=1",
            "last": "http://example.org/users/page=-1"
        }
    },
    "studies": {
        "actions": {
            "create": "http://example.org/studies",
            "read": "http://example.org/studies",
            "first": "http://example.org/studies/page=1",
            "last": "http://example.org/studies/page=-1"
        }
    },
    "orders": {
        "actions": {
            "create": "http://example.org/orders",
            "read": "http://example.org/orders",
            "first": "http://example.org/orders/page=1",
            "last": "http://example.org/orders/page=-1"
        }
    },
    "samples": {
        "actions": {
            "create": "http://example.org/samples",
            "read": "http://example.org/samples",
            "first": "http://example.org/samples/page=1",
            "last": "http://example.org/samples/page=-1"
        }
    },
    "oligos": {
        "actions": {
            "create": "http://example.org/oligos",
            "read": "http://example.org/oligos",
            "first": "http://example.org/oligos/page=1",
            "last": "http://example.org/oligos/page=-1"
        }
    },
    "aliquots": {
        "actions": {
            "create": "http://example.org/aliquots",
            "read": "http://example.org/aliquots",
            "first": "http://example.org/aliquots/page=1",
            "last": "http://example.org/aliquots/page=-1"
        }
    },
    "flowcells": {
        "actions": {
            "create": "http://example.org/flowcells",
            "read": "http://example.org/flowcells",
            "first": "http://example.org/flowcells/page=1",
            "last": "http://example.org/flowcells/page=-1"
        }
    },
    "gels": {
        "actions": {
            "create": "http://example.org/gels",
            "read": "http://example.org/gels",
            "first": "http://example.org/gels/page=1",
            "last": "http://example.org/gels/page=-1"
        }
    },
    "filter_papers": {
        "actions": {
            "create": "http://example.org/filter_papers",
            "read": "http://example.org/filter_papers",
            "first": "http://example.org/filter_papers/page=1",
            "last": "http://example.org/filter_papers/page=-1"
        }
    },
    "labellables": {
        "actions": {
            "create": "http://example.org/labellables",
            "read": "http://example.org/labellables",
            "first": "http://example.org/labellables/page=1",
            "last": "http://example.org/labellables/page=-1"
        }
    },
    "sanger_barcodes": {
        "actions": {
            "create": "http://example.org/sanger_barcodes",
            "read": "http://example.org/sanger_barcodes",
            "first": "http://example.org/sanger_barcodes/page=1",
            "last": "http://example.org/sanger_barcodes/page=-1"
        }
    },
    "code128_c_barcodes": {
        "actions": {
            "create": "http://example.org/code128_c_barcodes",
            "read": "http://example.org/code128_c_barcodes",
            "first": "http://example.org/code128_c_barcodes/page=1",
            "last": "http://example.org/code128_c_barcodes/page=-1"
        }
    },
    "ean13_barcodes": {
        "actions": {
            "create": "http://example.org/ean13_barcodes",
            "read": "http://example.org/ean13_barcodes",
            "first": "http://example.org/ean13_barcodes/page=1",
            "last": "http://example.org/ean13_barcodes/page=-1"
        }
    },
    "barcode2_ds": {
        "actions": {
            "create": "http://example.org/barcode2_ds",
            "read": "http://example.org/barcode2_ds",
            "first": "http://example.org/barcode2_ds/page=1",
            "last": "http://example.org/barcode2_ds/page=-1"
        }
    },
    "texts": {
        "actions": {
            "create": "http://example.org/texts",
            "read": "http://example.org/texts",
            "first": "http://example.org/texts/page=1",
            "last": "http://example.org/texts/page=-1"
        }
    },
    "plates": {
        "actions": {
            "create": "http://example.org/plates",
            "read": "http://example.org/plates",
            "first": "http://example.org/plates/page=1",
            "last": "http://example.org/plates/page=-1"
        }
    },
    "spin_columns": {
        "actions": {
            "create": "http://example.org/spin_columns",
            "read": "http://example.org/spin_columns",
            "first": "http://example.org/spin_columns/page=1",
            "last": "http://example.org/spin_columns/page=-1"
        }
    },
    "tubes": {
        "actions": {
            "create": "http://example.org/tubes",
            "read": "http://example.org/tubes",
            "first": "http://example.org/tubes/page=1",
            "last": "http://example.org/tubes/page=-1"
        }
    },
    "tube_racks": {
        "actions": {
            "create": "http://example.org/tube_racks",
            "read": "http://example.org/tube_racks",
            "first": "http://example.org/tube_racks/page=1",
            "last": "http://example.org/tube_racks/page=-1"
        }
    },
    "tag_groups": {
        "actions": {
            "create": "http://example.org/tag_groups",
            "read": "http://example.org/tag_groups",
            "first": "http://example.org/tag_groups/page=1",
            "last": "http://example.org/tag_groups/page=-1"
        }
    },
    "searches": {
        "actions": {
            "create": "http://example.org/searches",
            "read": "http://example.org/searches",
            "first": "http://example.org/searches/page=1",
            "last": "http://example.org/searches/page=-1"
        }
    },
    "sample_filters": {
        "actions": {
            "create": "http://example.org/sample_filters",
            "read": "http://example.org/sample_filters",
            "first": "http://example.org/sample_filters/page=1",
            "last": "http://example.org/sample_filters/page=-1"
        }
    },
    "multi_criteria_filters": {
        "actions": {
            "create": "http://example.org/multi_criteria_filters",
            "read": "http://example.org/multi_criteria_filters",
            "first": "http://example.org/multi_criteria_filters/page=1",
            "last": "http://example.org/multi_criteria_filters/page=-1"
        }
    },
    "label_filters": {
        "actions": {
            "create": "http://example.org/label_filters",
            "read": "http://example.org/label_filters",
            "first": "http://example.org/label_filters/page=1",
            "last": "http://example.org/label_filters/page=-1"
        }
    },
    "order_filters": {
        "actions": {
            "create": "http://example.org/order_filters",
            "read": "http://example.org/order_filters",
            "first": "http://example.org/order_filters/page=1",
            "last": "http://example.org/order_filters/page=-1"
        }
    },
    "batch_filters": {
        "actions": {
            "create": "http://example.org/batch_filters",
            "read": "http://example.org/batch_filters",
            "first": "http://example.org/batch_filters/page=1",
            "last": "http://example.org/batch_filters/page=-1"
        }
    },
    "uuid_resources": {
        "actions": {
            "create": "http://example.org/uuid_resources",
            "read": "http://example.org/uuid_resources",
            "first": "http://example.org/uuid_resources/page=1",
            "last": "http://example.org/uuid_resources/page=-1"
        }
    },
    "create_batches": {
        "actions": {
            "create": "http://example.org/actions/create_batch"
        }
    },
    "create_flowcells": {
        "actions": {
            "create": "http://example.org/actions/create_flowcell"
        }
    },
    "create_gels": {
        "actions": {
            "create": "http://example.org/actions/create_gel"
        }
    },
    "create_filter_papers": {
        "actions": {
            "create": "http://example.org/actions/create_filter_paper"
        }
    },
    "bulk_create_filter_papers": {
        "actions": {
            "create": "http://example.org/actions/bulk_create_filter_paper"
        }
    },
    "create_labels": {
        "actions": {
            "create": "http://example.org/actions/create_label"
        }
    },
    "bulk_create_tubes": {
        "actions": {
            "create": "http://example.org/actions/bulk_create_tube"
        }
    },
    "bulk_create_labellables": {
        "actions": {
            "create": "http://example.org/actions/bulk_create_labellable"
        }
    },
    "create_labellables": {
        "actions": {
            "create": "http://example.org/actions/create_labellable"
        }
    },
    "update_labels": {
        "actions": {
            "create": "http://example.org/actions/update_label"
        }
    },
    "create_orders": {
        "actions": {
            "create": "http://example.org/actions/create_order"
        }
    },
    "create_plates": {
        "actions": {
            "create": "http://example.org/actions/create_plate"
        }
    },
    "create_searches": {
        "actions": {
            "create": "http://example.org/actions/create_search"
        }
    },
    "create_spin_columns": {
        "actions": {
            "create": "http://example.org/actions/create_spin_column"
        }
    },
    "create_tubes": {
        "actions": {
            "create": "http://example.org/actions/create_tube"
        }
    },
    "create_tube_racks": {
        "actions": {
            "create": "http://example.org/actions/create_tube_rack"
        }
    },
    "plate_transfers": {
        "actions": {
            "create": "http://example.org/actions/plate_transfer"
        }
    },
    "transfer_plates_to_plates": {
        "actions": {
            "create": "http://example.org/actions/transfer_plates_to_plates"
        }
    },
    "transfer_tubes_to_tubes": {
        "actions": {
            "create": "http://example.org/actions/transfer_tubes_to_tubes"
        }
    },
    "transfer_wells_to_tubes": {
        "actions": {
            "create": "http://example.org/actions/transfer_wells_to_tubes"
        }
    },
    "tube_rack_moves": {
        "actions": {
            "create": "http://example.org/actions/tube_rack_move"
        }
    },
    "tube_rack_transfers": {
        "actions": {
            "create": "http://example.org/actions/tube_rack_transfer"
        }
    },
    "update_batches": {
        "actions": {
            "create": "http://example.org/actions/update_batch"
        }
    },
    "update_orders": {
        "actions": {
            "create": "http://example.org/actions/update_order"
        }
    },
    "update_plates": {
        "actions": {
            "create": "http://example.org/actions/update_plate"
        }
    },
    "update_tubes": {
        "actions": {
            "create": "http://example.org/actions/update_tube"
        }
    },
    "update_tube_racks": {
        "actions": {
            "create": "http://example.org/actions/update_tube_rack"
        }
    },
    "delete_tube_racks": {
        "actions": {
            "create": "http://example.org/actions/delete_tube_rack"
        }
    },
    "tag_wells": {
        "actions": {
            "create": "http://example.org/actions/tag_wells"
        }
    },
    "swap_samples": {
        "actions": {
            "create": "http://example.org/actions/swap_samples"
        }
    },
    "transfer_multiple_filter_papers_to_tubes": {
        "actions": {
            "create": "http://example.org/actions/transfer_multiple_filter_papers_to_tubes"
        }
    },
    "transfer_multiple_filter_papers_to_wells": {
        "actions": {
            "create": "http://example.org/actions/transfer_multiple_filter_papers_to_wells"
        }
    },
    "revision": 3
}


--
Tube Resource
--
**List actions for a tube resource.**

* `create` creates a new tube via HTTP POST request
* `read` currently returns the list of actions for a tube resource via HTTP GET request
* `first` lists the first tube resources in a page browsing system
* `last` lists the last tube resources in a page browsing system
GET /tubes
> Accept: application/json
< 200
< Content-Type: application/json
{ "tubes": {
    "actions": {
        "create": "/tubes",
        "read": "/tubes",
        "first": "/tubes/page=1",
        "last": "/tubes/page=-1"
    }
} }


**Create an new empty tube.**

POST /tubes
> Accept: application/json
{ "tube": {}}
< 200
< Content-Type: application/json
{ "tube": {
    "actions": {
        "read": "/11111111-2222-3333-4444-555555555555",
        "create": "/11111111-2222-3333-4444-555555555555",
        "update": "/11111111-2222-3333-4444-555555555555",
        "delete": "/11111111-2222-3333-4444-555555555555"
    },
    "uuid": "11111111-2222-3333-4444-555555555555",
    "location":null,
    "type": null,
    "max_volume": null,
    "aliquots": []
}}                                                     


**Create a new tube with samples.** It takes in parameters an array of aliquots, each aliquot is 
identified with the following attributes:

* `type` the actual type of the tube
* `max_volume` the max volume a tube can hold
* `sample_uuid` uuid of a sample
* `type` aliquot type
* `aliquot_quantity` volume (ul) if liquid, mass (mg) if solid
POST /tubes
> Accept: application/json
{ "tube": { 
    "type": "Eppendorf",
    "max_volume": 2,
    "aliquots": [
        { "sample_uuid": "11111111-2222-3333-4444-666666666666", "type": "NA", "quantity": 5 }
    ] 
}}
< 200
< Content-Type: application/json
{ "tube": {
    "actions": {
        "read": "/11111111-2222-3333-4444-555555555555",
        "create": "/11111111-2222-3333-4444-555555555555",
        "update": "/11111111-2222-3333-4444-555555555555",
        "delete": "/11111111-2222-3333-4444-555555555555"
    },
    "uuid": "11111111-2222-3333-4444-555555555555",
    "location":null,
    "type": "Eppendorf",
    "max_volume": 2,
    "aliquots": [
        { "sample": {
            "actions": {
                "read": "/11111111-2222-3333-4444-666666666666",
                "create": "/11111111-2222-3333-4444-666666666666",
                "update": "/11111111-2222-3333-4444-666666666666",
                "delete": "/11111111-2222-3333-4444-666666666666"
            },
            "uuid": "11111111-2222-3333-4444-666666666666",
            "name": "sample 1"
        },
        "quantity": 5,
        "type": "NA",
        "unit": "mole"
        }
    ]
}}


**Create an new empty tube and add label(s) to it.**

* `labels` contains a hash of the label(s) information to add to the resource (in our case to the tube).

POST /tubes
> Accept: application/json
{
    "tube": {
        "labels": {
            "front barcode": {
                "value": "1234-ABC",
                "type": "ean13-barcode"
            },
            "back barcode": {
                "value": "1234-ABC",
                "type": "sanger-barcode"
            }
        }
    }
}
< 200
< Content-Type: application/json
{
    "tube": {
        "actions": {
            "read": "http://example.org/11111111-2222-3333-4444-555555555555",
            "create": "http://example.org/11111111-2222-3333-4444-555555555555",
            "update": "http://example.org/11111111-2222-3333-4444-555555555555",
            "delete": "http://example.org/11111111-2222-3333-4444-555555555555"
        },
        "uuid": "11111111-2222-3333-4444-555555555555",
        "location":null,
        "type": null,
        "max_volume": null,
        "aliquots": [],
        "labels": {
            "actions": {
                "read": "http://example.org/11111111-2222-3333-4444-666666666666",
                "create": "http://example.org/11111111-2222-3333-4444-666666666666",
                "update": "http://example.org/11111111-2222-3333-4444-666666666666",
                "delete": "http://example.org/11111111-2222-3333-4444-666666666666"
            },
            "uuid": "11111111-2222-3333-4444-666666666666",
            "front barcode": {
                "value": "1234-ABC",
                "type": "ean13-barcode"
            },
            "back barcode": {
                "value": "1234-ABC",
                "type": "sanger-barcode"
            }
        }
    }
}


**Bulk create tubes**

* `tubes` is mandatory

This action creates a number of tubes with the given parameters. 

The parameter of this action is an array. An element of this array contains parameters to create a tube.
The elements can contains different parameters, so this way we could create tubes with different types and content with the use of only one action.

POST /actions/bulk_create_tube
> Accept: application/json
{
    "bulk_create_tube": {
        "tubes": [
            {
                "type": "Eppendorf",
                "max_volume": 2,
                "aliquots": [
                    {
                        "sample_uuid": "11111111-0000-0000-0000-111111111111",
                        "type": "NA",
                        "quantity": 5
                    }
                ]
            },
            {
                "type": "Eppendorf",
                "max_volume": 10,
                "aliquots": [
                    {
                        "sample_uuid": "11111111-0000-0000-0000-222222222222",
                        "type": "RNA",
                        "quantity": 15
                    }
                ]
            },
            {
                "type": "New type",
                "max_volume": 15,
                "aliquots": [
                    {
                        "sample_uuid": "11111111-0000-0000-0000-333333333333",
                        "type": "DNA",
                        "quantity": 25
                    }
                ]
            }
        ]
    }
}
< 200
< Content-Type: application/json
{
    "bulk_create_tube": {
        "actions": {
        },
        "user": "user",
        "application": "application",
        "result": {
            "tubes": [
                {
                    "actions": {
                        "read": "http://example.org/11111111-2222-3333-4444-555555555555",
                        "create": "http://example.org/11111111-2222-3333-4444-555555555555",
                        "update": "http://example.org/11111111-2222-3333-4444-555555555555",
                        "delete": "http://example.org/11111111-2222-3333-4444-555555555555"
                    },
                    "uuid": "11111111-2222-3333-4444-555555555555",
                    "location":null,
                    "type": "Eppendorf",
                    "max_volume": 2,
                    "aliquots": [
                        {
                            "sample": {
                                "actions": {
                                    "read": "http://example.org/11111111-0000-0000-0000-111111111111",
                                    "create": "http://example.org/11111111-0000-0000-0000-111111111111",
                                    "update": "http://example.org/11111111-0000-0000-0000-111111111111",
                                    "delete": "http://example.org/11111111-0000-0000-0000-111111111111"
                                },
                                "uuid": "11111111-0000-0000-0000-111111111111",
                                "name": "Sample 1"
                            },
                            "quantity": 5,
                            "type": "NA",
                            "unit": "mole"
                        }
                    ]
                },
                {
                    "actions": {
                        "read": "http://example.org/11111111-2222-3333-4444-666666666666",
                        "create": "http://example.org/11111111-2222-3333-4444-666666666666",
                        "update": "http://example.org/11111111-2222-3333-4444-666666666666",
                        "delete": "http://example.org/11111111-2222-3333-4444-666666666666"
                    },
                    "uuid": "11111111-2222-3333-4444-666666666666",
                    "location":null,
                    "type": "Eppendorf",
                    "max_volume": 10,
                    "aliquots": [
                        {
                            "sample": {
                                "actions": {
                                    "read": "http://example.org/11111111-0000-0000-0000-222222222222",
                                    "create": "http://example.org/11111111-0000-0000-0000-222222222222",
                                    "update": "http://example.org/11111111-0000-0000-0000-222222222222",
                                    "delete": "http://example.org/11111111-0000-0000-0000-222222222222"
                                },
                                "uuid": "11111111-0000-0000-0000-222222222222",
                                "name": "Sample 1"
                            },
                            "quantity": 15,
                            "type": "RNA",
                            "unit": "mole"
                        }
                    ]
                },
                {
                    "actions": {
                        "read": "http://example.org/11111111-2222-3333-4444-777777777777",
                        "create": "http://example.org/11111111-2222-3333-4444-777777777777",
                        "update": "http://example.org/11111111-2222-3333-4444-777777777777",
                        "delete": "http://example.org/11111111-2222-3333-4444-777777777777"
                    },
                    "uuid": "11111111-2222-3333-4444-777777777777",
                    "location":null,
                    "type": "New type",
                    "max_volume": 15,
                    "aliquots": [
                        {
                            "sample": {
                                "actions": {
                                    "read": "http://example.org/11111111-0000-0000-0000-333333333333",
                                    "create": "http://example.org/11111111-0000-0000-0000-333333333333",
                                    "update": "http://example.org/11111111-0000-0000-0000-333333333333",
                                    "delete": "http://example.org/11111111-0000-0000-0000-333333333333"
                                },
                                "uuid": "11111111-0000-0000-0000-333333333333",
                                "name": "Sample 1"
                            },
                            "quantity": 25,
                            "type": "DNA",
                            "unit": "mole"
                        }
                    ]
                }
            ]
        },
        "tubes": [
            {
                "type": "Eppendorf",
                "max_volume": 2,
                "aliquots": [
                    {
                        "sample_uuid": "11111111-0000-0000-0000-111111111111",
                        "type": "NA",
                        "quantity": 5
                    }
                ]
            },
            {
                "type": "Eppendorf",
                "max_volume": 10,
                "aliquots": [
                    {
                        "sample_uuid": "11111111-0000-0000-0000-222222222222",
                        "type": "RNA",
                        "quantity": 15
                    }
                ]
            },
            {
                "type": "New type",
                "max_volume": 15,
                "aliquots": [
                    {
                        "sample_uuid": "11111111-0000-0000-0000-333333333333",
                        "type": "DNA",
                        "quantity": 25
                    }
                ]
            }
        ]
    }
}

**Bulk create tubes with labels.**

* `tubes` is mandatory

This action creates a number of tubes with the given parameters. 

The parameter of this action is an array. An element of this array contains parameters to create a tube.
The elements can contains different parameters, so this way we could create tubes with different types and content with the use of only one action.

In our examples we add labels to the created tubes, too.

POST /actions/bulk_create_tube
> Accept: application/json
{
    "bulk_create_tube": {
        "tubes": [
            {
                "type": "Eppendorf",
                "max_volume": 2,
                "aliquots": [
                    {
                        "sample_uuid": "11111111-0000-0000-0000-111111111111",
                        "type": "NA",
                        "quantity": 5
                    }
                ],
                "labels": {
                    "front barcode": {
                        "value": "1234-ABC",
                        "type": "ean13-barcode"
                    },
                    "back barcode": {
                        "value": "1234-ABC",
                        "type": "sanger-barcode"
                    }
                }
            },
            {
                "type": "Eppendorf",
                "max_volume": 10,
                "aliquots": [
                    {
                        "sample_uuid": "11111111-0000-0000-0000-222222222222",
                        "type": "RNA",
                        "quantity": 15
                    }
                ]
            },
            {
                "type": "New type",
                "max_volume": 15,
                "aliquots": [
                    {
                        "sample_uuid": "11111111-0000-0000-0000-333333333333",
                        "type": "DNA",
                        "quantity": 25
                    }
                ]
            }
        ]
    }
}
< 200
< Content-Type: application/json
{
    "bulk_create_tube": {
        "actions": {
        },
        "user": "user",
        "application": "application",
        "result": {
            "tubes": [
                {
                    "actions": {
                        "read": "http://example.org/11111111-2222-3333-4444-555555555555",
                        "create": "http://example.org/11111111-2222-3333-4444-555555555555",
                        "update": "http://example.org/11111111-2222-3333-4444-555555555555",
                        "delete": "http://example.org/11111111-2222-3333-4444-555555555555"
                    },
                    "uuid": "11111111-2222-3333-4444-555555555555",
                    "location":null,
                    "type": "Eppendorf",
                    "max_volume": 2,
                    "aliquots": [
                        {
                            "sample": {
                                "actions": {
                                    "read": "http://example.org/11111111-0000-0000-0000-111111111111",
                                    "create": "http://example.org/11111111-0000-0000-0000-111111111111",
                                    "update": "http://example.org/11111111-0000-0000-0000-111111111111",
                                    "delete": "http://example.org/11111111-0000-0000-0000-111111111111"
                                },
                                "uuid": "11111111-0000-0000-0000-111111111111",
                                "name": "Sample 1"
                            },
                            "quantity": 5,
                            "type": "NA",
                            "unit": "mole"
                        }
                    ],
                    "labels": {
                        "actions": {
                            "read": "http://example.org/11111111-2222-3333-4444-666666666666",
                            "create": "http://example.org/11111111-2222-3333-4444-666666666666",
                            "update": "http://example.org/11111111-2222-3333-4444-666666666666",
                            "delete": "http://example.org/11111111-2222-3333-4444-666666666666"
                        },
                        "uuid": "11111111-2222-3333-4444-666666666666",
                        "front barcode": {
                            "value": "1234-ABC",
                            "type": "ean13-barcode"
                        },
                        "back barcode": {
                            "value": "1234-ABC",
                            "type": "sanger-barcode"
                        }
                    }
                },
                {
                    "actions": {
                        "read": "http://example.org/11111111-2222-3333-4444-777777777777",
                        "create": "http://example.org/11111111-2222-3333-4444-777777777777",
                        "update": "http://example.org/11111111-2222-3333-4444-777777777777",
                        "delete": "http://example.org/11111111-2222-3333-4444-777777777777"
                    },
                    "uuid": "11111111-2222-3333-4444-777777777777",
                    "location":null,
                    "type": "Eppendorf",
                    "max_volume": 10,
                    "aliquots": [
                        {
                            "sample": {
                                "actions": {
                                    "read": "http://example.org/11111111-0000-0000-0000-222222222222",
                                    "create": "http://example.org/11111111-0000-0000-0000-222222222222",
                                    "update": "http://example.org/11111111-0000-0000-0000-222222222222",
                                    "delete": "http://example.org/11111111-0000-0000-0000-222222222222"
                                },
                                "uuid": "11111111-0000-0000-0000-222222222222",
                                "name": "Sample 1"
                            },
                            "quantity": 15,
                            "type": "RNA",
                            "unit": "mole"
                        }
                    ]
                },
                {
                    "actions": {
                        "read": "http://example.org/11111111-2222-3333-4444-888888888888",
                        "create": "http://example.org/11111111-2222-3333-4444-888888888888",
                        "update": "http://example.org/11111111-2222-3333-4444-888888888888",
                        "delete": "http://example.org/11111111-2222-3333-4444-888888888888"
                    },
                    "uuid": "11111111-2222-3333-4444-888888888888",
                    "location":null,
                    "type": "New type",
                    "max_volume": 15,
                    "aliquots": [
                        {
                            "sample": {
                                "actions": {
                                    "read": "http://example.org/11111111-0000-0000-0000-333333333333",
                                    "create": "http://example.org/11111111-0000-0000-0000-333333333333",
                                    "update": "http://example.org/11111111-0000-0000-0000-333333333333",
                                    "delete": "http://example.org/11111111-0000-0000-0000-333333333333"
                                },
                                "uuid": "11111111-0000-0000-0000-333333333333",
                                "name": "Sample 1"
                            },
                            "quantity": 25,
                            "type": "DNA",
                            "unit": "mole"
                        }
                    ]
                }
            ]
        },
        "tubes": [
            {
                "type": "Eppendorf",
                "max_volume": 2,
                "aliquots": [
                    {
                        "sample_uuid": "11111111-0000-0000-0000-111111111111",
                        "type": "NA",
                        "quantity": 5
                    }
                ],
                "labels": {
                    "front barcode": {
                        "value": "1234-ABC",
                        "type": "ean13-barcode"
                    },
                    "back barcode": {
                        "value": "1234-ABC",
                        "type": "sanger-barcode"
                    }
                }
            },
            {
                "type": "Eppendorf",
                "max_volume": 10,
                "aliquots": [
                    {
                        "sample_uuid": "11111111-0000-0000-0000-222222222222",
                        "type": "RNA",
                        "quantity": 15
                    }
                ]
            },
            {
                "type": "New type",
                "max_volume": 15,
                "aliquots": [
                    {
                        "sample_uuid": "11111111-0000-0000-0000-333333333333",
                        "type": "DNA",
                        "quantity": 25
                    }
                ]
            }
        ]
    }
}


**Bulk create tube using mime-type.**

You can specify the content type for bulk creation like this:
`'Content-Type': 'application/json; bulk=true'`
then this will be a bulk creation. 

In the parameters you have to add an array of resource's parameters.

You can also specify `representation=minimal` for the `Accept` header parameter. This will results a minimal JSON representation of the response JSON.

`'Accept': 'application/json; representation=minimal'`
POST /tubes
> Accept: application/json; representation=minimal
{
    "tubes": [
        {
            "type": "Eppendorf",
            "max_volume": 2,
            "aliquots": [
                {
                    "sample_uuid": "11111111-0000-0000-0000-111111111111",
                    "type": "NA",
                    "quantity": 5
                }
            ],
            "labels": {
                "front barcode": {
                    "value": "1234-ABC",
                    "type": "ean13-barcode"
                },
                "back barcode": {
                    "value": "1234-ABC",
                    "type": "sanger-barcode"
                }
            }
        },
        {
            "type": "Eppendorf",
            "max_volume": 10,
            "aliquots": [
                {
                    "sample_uuid": "11111111-0000-0000-0000-222222222222",
                    "type": "RNA",
                    "quantity": 15
                }
            ]
        },
        {
            "type": "New type",
            "max_volume": 15,
            "aliquots": [
                {
                    "sample_uuid": "11111111-0000-0000-0000-333333333333",
                    "type": "DNA",
                    "quantity": 25
                }
            ]
        }
    ]
}
< 200
< Content-Type: application/json; bulk=true
{
    "actions": {
    },
    "tubes": [
        {
            "actions": {
                "read": "http://example.org/11111111-2222-3333-4444-555555555555",
                "create": "http://example.org/11111111-2222-3333-4444-555555555555",
                "update": "http://example.org/11111111-2222-3333-4444-555555555555",
                "delete": "http://example.org/11111111-2222-3333-4444-555555555555"
            },
            "uuid": "11111111-2222-3333-4444-555555555555"
        },
        {
            "actions": {
                "read": "http://example.org/11111111-2222-3333-4444-777777777777",
                "create": "http://example.org/11111111-2222-3333-4444-777777777777",
                "update": "http://example.org/11111111-2222-3333-4444-777777777777",
                "delete": "http://example.org/11111111-2222-3333-4444-777777777777"
            },
            "uuid": "11111111-2222-3333-4444-777777777777"
        },
        {
            "actions": {
                "read": "http://example.org/11111111-2222-3333-4444-888888888888",
                "create": "http://example.org/11111111-2222-3333-4444-888888888888",
                "update": "http://example.org/11111111-2222-3333-4444-888888888888",
                "delete": "http://example.org/11111111-2222-3333-4444-888888888888"
            },
            "uuid": "11111111-2222-3333-4444-888888888888"
        }
    ],
    "size": 3
}


**Update a tube.** All the aliquots in the tube will be updated with 
`aliquot_type` and `aliquot_quantity`.

* `type` the actual type of the tube
* `max_volume` the max volume a tube can hold
* `aliquot_type` type of the aliquot (like: 'DNA', 'RNA' etc...)
* `aliquot_quantity` volume (ul) if liquid, mass (mg) if solid
PUT /11111111-2222-3333-4444-555555555555
> Accept: application/json
{ "aliquot_type": "DNA", "aliquot_quantity": 10, "type": "Eppendorf", "max_volume": 2 }
< 200
< Content-Type: application/json
{
    "tube": {
        "actions": {
            "read": "/11111111-2222-3333-4444-555555555555",
            "create": "/11111111-2222-3333-4444-555555555555",
            "update": "/11111111-2222-3333-4444-555555555555",
            "delete": "/11111111-2222-3333-4444-555555555555"
        },
        "uuid": "11111111-2222-3333-4444-555555555555",
        "location": null,
        "type": "Eppendorf",
        "max_volume": 2,
        "aliquots": [
            { "sample": {
                "actions": {
                    "read": "/11111111-2222-3333-4444-666666666666",
                    "create": "/11111111-2222-3333-4444-666666666666",
                    "update": "/11111111-2222-3333-4444-666666666666",
                    "delete": "/11111111-2222-3333-4444-666666666666"
                },
                "uuid": "11111111-2222-3333-4444-666666666666",
                "name": "sample 1"
            },
            "quantity": 10,
            "type": "DNA",
            "unit": "mole"
            }
        ]
    }
}


**Update a tube setting the volume of the solvent** If the `volume` parameter is specified, the volume of the solvent
aliquot is updated. If the tube does not contain a solvent, a new solvent aliquot is created with the specified
volume and added into the tube.

* `volume` the volume of the solvent
PUT /11111111-2222-3333-4444-555555555555
> Accept: application/json
{ "volume": 100 }
< 200
< Content-Type: application/json
{
    "tube": {
        "actions": {
            "read": "/11111111-2222-3333-4444-555555555555",
            "create": "/11111111-2222-3333-4444-555555555555",
            "update": "/11111111-2222-3333-4444-555555555555",
            "delete": "/11111111-2222-3333-4444-555555555555"
        },
        "uuid": "11111111-2222-3333-4444-555555555555",
        "location": null,
        "type": "Eppendorf",
        "max_volume": 2,
        "aliquots": [
            { "sample": {
                "actions": {
                    "read": "/11111111-2222-3333-4444-666666666666",
                    "create": "/11111111-2222-3333-4444-666666666666",
                    "update": "/11111111-2222-3333-4444-666666666666",
                    "delete": "/11111111-2222-3333-4444-666666666666"
                },
                "uuid": "11111111-2222-3333-4444-666666666666",
                "name": "sample 1"
            },
            "quantity": 10,
            "type": "DNA",
            "unit": "mole"
            },
            {
                "quantity": 100,
                "type": "solvent",
                "unit": "ul"
            }
        ]
    }
}


**Transfer the content from one tube to multiple tubes**.

* `source_uuid` source tube uuid
* `target_uuid` target tube uuid
* `amount` amount taken from source tube and transfered in target tube
* `fraction` fraction (between 0 and 1) of each aliquot from source tube to be transfered in target tube (use amount **or** fraction)
* `aliquot_type` set a new type for all aliquots in the target tube

The example below shows how to make a transfer from one tube to multiple tubes:

* from tube `11111111-2222-3333-4444-555555555555` to tube `11111111-2222-3333-4444-666666666666` 
and tube `11111111-2222-3333-4444-777777777777`

**Note you can replace tube uuids with spin column uuids in order to make a transfer from one tube to 
a target tube and a target spin columns**
POST /actions/transfer_tubes_to_tubes
> Accept: application/json
{ "transfer_tubes_to_tubes": { 
    "transfers": [
        {
            "source_uuid": "11111111-2222-3333-4444-555555555555", 
            "target_uuid": "11111111-2222-3333-4444-666666666666",
            "amount": 5,
            "aliquot_type": "DNA"
        },
        {
            "source_uuid": "11111111-2222-3333-4444-555555555555", 
            "target_uuid": "11111111-2222-3333-4444-777777777777",
            "amount": 5,
            "aliquot_type": "RNA"
        }
    ]}
}
< 200
< Content-Type: application/json
{ "transfer_tubes_to_tubes": {
    "actions": {},
    "user": "user",
    "application": "application",
    "result": {
        "sources": [
            { "tube": {
                "actions": {
                    "read": "/11111111-2222-3333-4444-555555555555",
                    "create": "/11111111-2222-3333-4444-555555555555",
                    "update": "/11111111-2222-3333-4444-555555555555",
                    "delete": "/11111111-2222-3333-4444-555555555555"
                },
                "uuid": "11111111-2222-3333-4444-555555555555",
                "location": null,
                "type": null,
                "max_volume": null,
                "aliquots": [
                    { "sample": {
                        "actions": {
                            "read": "/11111111-2222-3333-0000-000000000000",
                            "create": "/11111111-2222-3333-0000-000000000000",
                            "update": "/11111111-2222-3333-0000-000000000000",
                            "delete": "/11111111-2222-3333-0000-000000000000"
                        },
                        "uuid": "11111111-2222-3333-0000-000000000000",
                        "name": "sample 1"
                    },
                    "quantity": 10,
                    "type": "RNA",
                    "unit": "mole"
                    }
                ]
            }}
        ],
        "targets": [
            { "tube": {
                "actions": {
                    "read": "/11111111-2222-3333-4444-666666666666",
                    "create": "/11111111-2222-3333-4444-666666666666",
                    "update": "/11111111-2222-3333-4444-666666666666",
                    "delete": "/11111111-2222-3333-4444-666666666666"
                },
                "uuid": "11111111-2222-3333-4444-666666666666",
                "location": null,
                "type": null,
                "max_volume": null,
                "aliquots": [
                    { "sample": {
                        "actions": {
                            "read": "/11111111-2222-3333-0000-000000000000",
                            "create": "/11111111-2222-3333-0000-000000000000",
                            "update": "/11111111-2222-3333-0000-000000000000",
                            "delete": "/11111111-2222-3333-0000-000000000000"
                        },
                        "uuid": "11111111-2222-3333-0000-000000000000",
                        "name": "sample 1"
                    },
                    "type": "DNA",
                    "unit": "mole"
                    }
                ]
            }},
            { "tube": {
                "actions": {
                    "read": "/11111111-2222-3333-4444-777777777777",
                    "create": "/11111111-2222-3333-4444-777777777777",
                    "update": "/11111111-2222-3333-4444-777777777777",
                    "delete": "/11111111-2222-3333-4444-777777777777"
                },
                "uuid": "11111111-2222-3333-4444-777777777777",
                "location": null,
                "type": null,
                "max_volume": null,
                "aliquots": [
                    { "sample": {
                        "actions": {
                            "read": "/11111111-2222-3333-0000-000000000000",
                            "create": "/11111111-2222-3333-0000-000000000000",
                            "update": "/11111111-2222-3333-0000-000000000000",
                            "delete": "/11111111-2222-3333-0000-000000000000"
                        },
                        "uuid": "11111111-2222-3333-0000-000000000000",
                        "name": "sample 1"
                    },
                    "type": "RNA",
                    "unit": "mole"
                    }
                ]
            }}
        ]
    },
    "transfers": [
        {
            "source_uuid": "11111111-2222-3333-4444-555555555555", 
            "target_uuid": "11111111-2222-3333-4444-666666666666",
            "amount": 5,
            "aliquot_type": "DNA"
        },
        {
            "source_uuid": "11111111-2222-3333-4444-555555555555", 
            "target_uuid": "11111111-2222-3333-4444-777777777777",
            "amount": 5,
            "aliquot_type": "RNA"
        }
    ]
}}


**Transfer the content from multiple tubes to multiple tubes**. 

* `source_uuid` source tube uuid
* `target_uuid` target tube uuid
* `amount` amount taken from source tube and transfered in target tube
* `fraction` fraction (between 0 and 1) of each aliquot from source tube to be transfered in target tube (use amount **or** fraction)
* `aliquot_type` set a new type for all aliquots in the target tube

The example below shows how to make a tubes to tubes transfer in one action:

* from tube `11111111-2222-3333-4444-555555555555` to tube `11111111-2222-3333-4444-666666666666` 
* from tube `11111111-2222-3333-4444-777777777777` to tube `11111111-2222-3333-4444-888888888888`

**Note you can replace tube uuids with spin column uuids in order to make tubes to spin columns transfer
and spin columns to tubes transfer.**
POST /actions/transfer_tubes_to_tubes
> Accept: application/json
{ "transfer_tubes_to_tubes": { 
    "transfers": [
        {
            "source_uuid": "11111111-2222-3333-4444-555555555555", 
            "target_uuid": "11111111-2222-3333-4444-666666666666",
            "amount": 5,
            "aliquot_type": "DNA"
        },
        {
            "source_uuid": "11111111-2222-3333-4444-777777777777", 
            "target_uuid": "11111111-2222-3333-4444-888888888888",
            "amount": 5,
            "aliquot_type": "RNA"
        }
    ]}
}
< 200
< Content-Type: application/json
{ "transfer_tubes_to_tubes": {
    "actions": {},
    "user": "user",
    "application": "application",
    "result": {
        "sources": [
            { "tube": {
                "actions": {
                    "read": "/11111111-2222-3333-4444-555555555555",
                    "create": "/11111111-2222-3333-4444-555555555555",
                    "update": "/11111111-2222-3333-4444-555555555555",
                    "delete": "/11111111-2222-3333-4444-555555555555"
                },
                "uuid": "11111111-2222-3333-4444-555555555555",
                "location": null,
                "type": null,
                "max_volume": null,
                "aliquots": [
                    { "sample": {
                        "actions": {
                            "read": "/11111111-2222-3333-0000-000000000000",
                            "create": "/11111111-2222-3333-0000-000000000000",
                            "update": "/11111111-2222-3333-0000-000000000000",
                            "delete": "/11111111-2222-3333-0000-000000000000"
                        },
                        "uuid": "11111111-2222-3333-0000-000000000000",
                        "name": "sample 1"
                    },
                    "quantity": 10,
                    "type": "RNA",
                    "unit": "mole"
                    }
                ]
            }},
            { "tube": {
                "actions": {
                    "read": "/11111111-2222-3333-4444-777777777777",
                    "create": "/11111111-2222-3333-4444-777777777777",
                    "update": "/11111111-2222-3333-4444-777777777777",
                    "delete": "/11111111-2222-3333-4444-777777777777"
                },
                "uuid": "11111111-2222-3333-4444-777777777777",
                "location": null,
                "type": null,
                "max_volume": null,
                "aliquots": [
                    { "sample": {
                        "actions": {
                            "read": "/11111111-2222-3333-0000-111111111111",
                            "create": "/11111111-2222-3333-0000-111111111111",
                            "update": "/11111111-2222-3333-0000-111111111111",
                            "delete": "/11111111-2222-3333-0000-111111111111"
                        },
                        "uuid": "11111111-2222-3333-0000-111111111111",
                        "name": "sample 2"
                    },
                    "quantity": 10,
                    "type": "RNA",
                    "unit": "mole"
                    }
                ]
            }}
        ],
        "targets": [
            { "tube": {
                "actions": {
                    "read": "/11111111-2222-3333-4444-666666666666",
                    "create": "/11111111-2222-3333-4444-666666666666",
                    "update": "/11111111-2222-3333-4444-666666666666",
                    "delete": "/11111111-2222-3333-4444-666666666666"
                },
                "uuid": "11111111-2222-3333-4444-666666666666",
                "location": null,
                "type": null,
                "max_volume": null,
                "aliquots": [
                    { "sample": {
                        "actions": {
                            "read": "/11111111-2222-3333-0000-000000000000",
                            "create": "/11111111-2222-3333-0000-000000000000",
                            "update": "/11111111-2222-3333-0000-000000000000",
                            "delete": "/11111111-2222-3333-0000-000000000000"
                        },
                        "uuid": "11111111-2222-3333-0000-000000000000",
                        "name": "sample 1"
                    },
                    "type": "DNA",
                    "unit": "mole"
                    }
                ]
            }},   
            { "tube": {
                "actions": {
                    "read": "/11111111-2222-3333-4444-888888888888",
                    "create": "/11111111-2222-3333-4444-888888888888",
                    "update": "/11111111-2222-3333-4444-888888888888",
                    "delete": "/11111111-2222-3333-4444-888888888888"
                },
                "uuid": "11111111-2222-3333-4444-888888888888",
                "location": null,
                "type": null,
                "max_volume": null,
                "aliquots": [
                    { "sample": {
                        "actions": {
                            "read": "/11111111-2222-3333-0000-111111111111",
                            "create": "/11111111-2222-3333-0000-111111111111",
                            "update": "/11111111-2222-3333-0000-111111111111",
                            "delete": "/11111111-2222-3333-0000-111111111111"
                        },
                        "uuid": "11111111-2222-3333-0000-111111111111",
                        "name": "sample 2"
                    },
                    "type": "RNA",
                    "unit": "mole"
                    }
                ]
            }}
        ]
    },
    "transfers": [
        {
            "source_uuid": "11111111-2222-3333-4444-555555555555", 
            "target_uuid": "11111111-2222-3333-4444-666666666666",
            "amount": 5,
            "aliquot_type": "DNA"
        },
        {
            "source_uuid": "11111111-2222-3333-4444-777777777777", 
            "target_uuid": "11111111-2222-3333-4444-888888888888",
            "amount": 5,
            "aliquot_type": "RNA"
        }
    ]
}}



--
Tube Rack Resource
--
**List actions for tube rack resource.**

* `create` creates a new tube rack via HTTP POST request
* `read` currently returns the list of actions for a tube rack resource via HTTP GET request
* `first` lists the first tube rack resources in a page browsing system
* `last` lists the last tube rack resources in a page browsing system
GET /tube_racks
> Accept: application/json
< 200
< Content-Type: application/json
{ "tube_racks": {
    "actions": {
        "create": "/tube_racks",
        "read": "/tube_racks",
        "first": "/tube_racks/page=1",
        "last": "/tube_racks/page=-1"
    }
} }


**Create a new empty tube rack.**

* `number_of_rows` number of rows in the rack
* `number_of_columns` number of columns in the rack
* `tubes` map tubes identified by their uuids to rack locations
POST /tube_racks
> Accept: application/json
{ "tube_rack": {
    "number_of_rows": 8,
    "number_of_columns": 12,
    "tubes": {}
}}
< 200
< Content-Type: application/json
{ "tube_rack": {
    "actions": {
        "create": "/11111111-2222-3333-4444-555555555555",
        "read": "/11111111-2222-3333-4444-555555555555",
        "update": "/11111111-2222-3333-4444-555555555555",
        "delete": "/11111111-2222-3333-4444-555555555555"
    },
    "uuid": "11111111-2222-3333-4444-555555555555",
    "location": null,
    "number_of_rows": 8,
    "number_of_columns": 12,
    "tubes": {}
}}


**Create a new tube rack and add it multiple tubes.**

* `number_of_rows` number of rows in the rack
* `number_of_columns` number of columns in the rack
* `tubes` map tubes identified by their uuids to rack locations
POST /tube_racks
> Accept: application/json
{ "tube_rack": {
    "number_of_rows": 8,
    "number_of_columns": 12,
    "tubes": {
        "A1": "11111111-2222-3333-4444-111111111111",
        "E5": "11111111-2222-3333-4444-222222222222"
    }
} }
< 200
< Content-Type: application/json
{ "tube_rack": {
    "actions": {
        "create": "/11111111-2222-3333-4444-777777777777",
        "read": "/11111111-2222-3333-4444-777777777777",
        "update": "/11111111-2222-3333-4444-777777777777",
        "delete": "/11111111-2222-3333-4444-777777777777"
    },
    "uuid": "11111111-2222-3333-4444-777777777777",
    "location": null,
    "number_of_rows": 8,
    "number_of_columns": 12,
    "tubes": {
        "A1": {
            "actions": {
                "create": "/11111111-2222-3333-4444-111111111111",
                "read": "/11111111-2222-3333-4444-111111111111",
                "update": "/11111111-2222-3333-4444-111111111111",
                "delete": "/11111111-2222-3333-4444-111111111111"
            },
            "uuid": "11111111-2222-3333-4444-111111111111",
            "location": null,
            "type": null,
            "max_volume": null,
            "aliquots": [
                {
                    "sample": {
                        "actions": {
                            "read": "/11111111-2222-3333-0000-000000000000",
                            "create": "/11111111-2222-3333-0000-000000000000",
                            "update": "/11111111-2222-3333-0000-000000000000",
                            "delete": "/11111111-2222-3333-0000-000000000000"
                        },
                        "uuid": "11111111-2222-3333-0000-000000000000",
                        "name": "sample 1"
                    },
                    "quantity": 5,
                    "type": "NA",
                    "unit": "mole"
                }
            ]
        },
        "E5": {
            "actions": {
                "read": "/11111111-2222-3333-4444-222222222222",
                "create": "/11111111-2222-3333-4444-222222222222",
                "update": "/11111111-2222-3333-4444-222222222222",
                "delete": "/11111111-2222-3333-4444-222222222222"
            },
            "uuid": "11111111-2222-3333-4444-222222222222",
            "location": null,
            "type": null,
            "max_volume": null,
            "aliquots": [
                {
                    "sample": {
                        "actions": {
                            "read": "/11111111-2222-3333-0000-111111111111",
                            "create": "/11111111-2222-3333-0000-111111111111",
                            "update": "/11111111-2222-3333-0000-111111111111",
                            "delete": "/11111111-2222-3333-0000-111111111111"
                        },
                        "uuid": "11111111-2222-3333-0000-111111111111",
                        "name": "sample 2"
                    },
                    "quantity": 10,
                    "type": "RNA",
                    "unit": "mole"
                }
            ]
        }
    }
}}


**Update a tube rack.**

All aliquots in each tube of the tube rack will be updated with 
`aliquot_type` and `aliquot_quantity`.

* `aliquot_type`
* `aliquot_quantity` volume (ul) if liquid, mass (mg) if solid
* `tubes` new tubes to add to the tube rack. The specified locations need to be empty.
PUT /11111111-2222-3333-4444-777777777777
> Accept: application/json
{ 
    "aliquot_type": "DNA", 
    "aliquot_quantity": 10, 
    "tubes": {
        "C2": "11111111-2222-3333-4444-999999999999"
    }
}
< 200
< Content-Type: application/json
{ "tube_rack": {
    "actions": {
        "create": "/11111111-2222-3333-4444-777777777777",
        "read": "/11111111-2222-3333-4444-777777777777",
        "update": "/11111111-2222-3333-4444-777777777777",
        "delete": "/11111111-2222-3333-4444-777777777777"
    },
    "uuid": "11111111-2222-3333-4444-777777777777",
    "location": null,
    "number_of_rows": 8,
    "number_of_columns": 12,
    "tubes": {
        "A1": {
            "actions": {
                "create": "/11111111-2222-3333-4444-555555555555",
                "read": "/11111111-2222-3333-4444-555555555555",
                "update": "/11111111-2222-3333-4444-555555555555",
                "delete": "/11111111-2222-3333-4444-555555555555"
            },
            "uuid": "11111111-2222-3333-4444-555555555555",
            "location": null,
            "type": null,
            "max_volume": null,
            "aliquots": [
                {
                    "sample": {
                        "actions": {
                            "read": "/11111111-2222-3333-0000-000000000000",
                            "create": "/11111111-2222-3333-0000-000000000000",
                            "update": "/11111111-2222-3333-0000-000000000000",
                            "delete": "/11111111-2222-3333-0000-000000000000"
                        },
                        "uuid": "11111111-2222-3333-0000-000000000000",
                        "name": "sample 1"
                    },
                    "quantity": 10,
                    "type": "DNA",
                    "unit": "mole"
                }
            ]
        },
        "C2": {
            "actions": {
                "create": "/11111111-2222-3333-4444-999999999999",
                "read": "/11111111-2222-3333-4444-999999999999",
                "update": "/11111111-2222-3333-4444-999999999999",
                "delete": "/11111111-2222-3333-4444-999999999999"
            },
            "uuid": "11111111-2222-3333-4444-999999999999",
            "location": null,
            "type": null,
            "max_volume": null,
            "aliquots": [
                {
                    "sample": {
                        "actions": {
                            "read": "/11111111-2222-3333-0000-222222222222",
                            "create": "/11111111-2222-3333-0000-222222222222",
                            "update": "/11111111-2222-3333-0000-222222222222",
                            "delete": "/11111111-2222-3333-0000-222222222222"
                        },
                        "uuid": "11111111-2222-3333-0000-222222222222",
                        "name": "new sample"
                    },
                    "quantity": 10,
                    "type": "DNA",
                    "unit": "mole"
                }
            ]
        },
        "E5": {
            "actions": {
                "read": "/11111111-2222-3333-4444-666666666666",
                "create": "/11111111-2222-3333-4444-666666666666",
                "update": "/11111111-2222-3333-4444-666666666666",
                "delete": "/11111111-2222-3333-4444-666666666666"
            },
            "uuid": "11111111-2222-3333-4444-666666666666",
            "location": null,
            "type": null,
            "max_volume": null,
            "aliquots": [
                {
                    "sample": {
                        "actions": {
                            "read": "/11111111-2222-3333-0000-111111111111",
                            "create": "/11111111-2222-3333-0000-111111111111",
                            "update": "/11111111-2222-3333-0000-111111111111",
                            "delete": "/11111111-2222-3333-0000-111111111111"
                        },
                        "uuid": "11111111-2222-3333-0000-111111111111",
                        "name": "sample 2"
                    },
                    "quantity": 10,
                    "type": "DNA",
                    "unit": "mole"
                }
            ]
        }
    }
}}


**Update a tube rack and set the volume of the solvent**

For each tube mentionned in `tubes` which have a `volume` parameter, the solvent aliquot is updated with that volume.
If the tube do not contain solvent yet, the solvent aliquot is created with the specified volume and added in the tube.

* `aliquot_type`
* `aliquot_quantity` volume (ul) if liquid, mass (mg) if solid
* `tubes` new tubes to add to the tube rack or tubes to update with a solvent's volume
PUT /11111111-2222-3333-4444-777777777777
> Accept: application/json
{ 
    "tubes": {
        "A1": {"tube_uuid":"11111111-2222-3333-4444-555555555555", "volume": 50},
        "C2": {"tube_uuid":"11111111-2222-3333-4444-999999999999", "volume": 100}
    }
}
< 200
< Content-Type: application/json
{ "tube_rack": {
    "actions": {
        "create": "/11111111-2222-3333-4444-777777777777",
        "read": "/11111111-2222-3333-4444-777777777777",
        "update": "/11111111-2222-3333-4444-777777777777",
        "delete": "/11111111-2222-3333-4444-777777777777"
    },
    "uuid": "11111111-2222-3333-4444-777777777777",
    "location": null,
    "number_of_rows": 8,
    "number_of_columns": 12,
    "tubes": {
        "A1": {
            "actions": {
                "create": "/11111111-2222-3333-4444-555555555555",
                "read": "/11111111-2222-3333-4444-555555555555",
                "update": "/11111111-2222-3333-4444-555555555555",
                "delete": "/11111111-2222-3333-4444-555555555555"
            },
            "uuid": "11111111-2222-3333-4444-555555555555",
            "location": null,
            "type": null,
            "max_volume": null,
            "aliquots": [
                {
                    "sample": {
                        "actions": {
                            "read": "/11111111-2222-3333-0000-000000000000",
                            "create": "/11111111-2222-3333-0000-000000000000",
                            "update": "/11111111-2222-3333-0000-000000000000",
                            "delete": "/11111111-2222-3333-0000-000000000000"
                        },
                        "uuid": "11111111-2222-3333-0000-000000000000",
                        "name": "sample 1"
                    },
                    "quantity": 10,
                    "type": "DNA",
                    "unit": "mole"
                },
                {
                    "quantity": 50,
                    "type": "solvent",
                    "unit": "ul"
                }
            ]
        },
        "C2": {
            "actions": {
                "create": "/11111111-2222-3333-4444-999999999999",
                "read": "/11111111-2222-3333-4444-999999999999",
                "update": "/11111111-2222-3333-4444-999999999999",
                "delete": "/11111111-2222-3333-4444-999999999999"
            },
            "uuid": "11111111-2222-3333-4444-999999999999",
            "location": null,
            "type": null,
            "max_volume": null,
            "aliquots": [
                {
                    "sample": {
                        "actions": {
                            "read": "/11111111-2222-3333-0000-222222222222",
                            "create": "/11111111-2222-3333-0000-222222222222",
                            "update": "/11111111-2222-3333-0000-222222222222",
                            "delete": "/11111111-2222-3333-0000-222222222222"
                        },
                        "uuid": "11111111-2222-3333-0000-222222222222",
                        "name": "new sample"
                    },
                    "quantity": 10,
                    "type": "DNA",
                    "unit": "mole"
                },
                {
                    "quantity": 100,
                    "type": "solvent",
                    "unit": "ul"
                }
            ]
        }
    }
}}

**Delete a tube rack.**

Use HTTP `DELETE` request with the tube rack's `UUID` to delete a tube rack.

* `uuid_of_the_tube_rack` for example: 11111111-2222-3333-4444-555555555555

DELETE /<uuid_of_the_tube_rack>
> Accept: application/json
{}
< 200
< Content-Type: application/json
{
    "tube_rack": {
        "actions": {
            "read": "http://example.org/11111111-2222-3333-4444-555555555555",
            "create": "http://example.org/11111111-2222-3333-4444-555555555555",
            "update": "http://example.org/11111111-2222-3333-4444-555555555555",
            "delete": "http://example.org/11111111-2222-3333-4444-555555555555"
        },
        "uuid": "11111111-2222-3333-4444-555555555555",
        "location": null,
        "number_of_rows": 8,
        "number_of_columns": 12,
        "tubes": {
        }
    }
}


**Transfer tubes content from a source tube rack to a target tube rack according to a transfer map.**

As it is a content transfer between tubes in tube racks, targeted locations mentioned in the transfer map
need to contain tubes.

* `source_uuid` uuid of the source tube rack
* `target_uuid` uuid of the target tube rack
* `transfer_map` map locations in the source tube rack to other locations in the target tube rack

In the example below, the content of the tube in B5 in the tube rack `11111111-2222-3333-4444-555555555555` is
tranfered into the tube in C3 in the tube rack `11111111-2222-3333-4444-666666666666`.

POST /actions/tube_rack_transfer
> Accept: application/json
{ "tube_rack_transfer": {
    "source_uuid": "11111111-2222-3333-4444-555555555555",
    "target_uuid": "11111111-2222-3333-4444-666666666666",
    "transfer_map": { "B5": "C3" }
}}
< 200
< Content-Type: application/json
{ "tube_rack_transfer": {
    "actions": {},
    "user": "user",
    "application": "application",
    "result": {
        "tube_rack": {
            "actions": {
                "read": "/11111111-2222-3333-4444-666666666666",
                "update": "/11111111-2222-3333-4444-666666666666",
                "delete": "/11111111-2222-3333-4444-666666666666",
                "create": "/11111111-2222-3333-4444-666666666666"
            },
            "uuid": "11111111-2222-3333-4444-666666666666",
            "location": null,
            "number_of_rows": 8,
            "number_of_columns": 12,
            "tubes": {
                "C3": {
                    "actions": {
                        "read": "/11111111-2222-3333-4444-888888888888",
                        "create": "/11111111-2222-3333-4444-888888888888",
                        "update": "/11111111-2222-3333-4444-888888888888",
                        "delete": "/11111111-2222-3333-4444-888888888888"
                    },
                    "uuid": "11111111-2222-3333-4444-888888888888",
                    "location": null,
                    "type": null,
                    "max_volume": null,
                    "aliquots": [ 
                        {"sample": {
                            "actions": {
                                "read": "/11111111-2222-3333-4444-000000000000",
                                "update": "/11111111-2222-3333-4444-000000000000",
                                "delete": "/11111111-2222-3333-4444-000000000000",
                                "create": "/11111111-2222-3333-4444-000000000000" 
                            },
                            "uuid": "11111111-2222-3333-4444-000000000000",
                            "name": "sample 1"
                        },
                        "quantity": 10,
                        "type": "sample",
                        "unit": "mole"
                        } 
                    ]
                }
            }        
        }
    },
    "source": {
        "tube_rack": {
            "actions": {
                "read": "/11111111-2222-3333-4444-555555555555",
                "update": "/11111111-2222-3333-4444-555555555555",
                "delete": "/11111111-2222-3333-4444-555555555555",
                "create": "/11111111-2222-3333-4444-555555555555"
            },
        "uuid": "11111111-2222-3333-4444-555555555555",
        "location": null,
        "number_of_rows": 8,
        "number_of_columns": 12,
        "tubes": {
                "B5": {
                    "actions": {
                        "read": "/11111111-2222-3333-4444-777777777777",
                        "create": "/11111111-2222-3333-4444-777777777777",
                        "update": "/11111111-2222-3333-4444-777777777777",
                        "delete": "/11111111-2222-3333-4444-777777777777"
                    },
                    "uuid": "11111111-2222-3333-4444-777777777777",
                    "location": null,
                    "type": null,
                    "max_volume": null,
                    "aliquots": [ 
                        {"sample": {
                            "actions": {
                                "read": "/11111111-2222-3333-4444-000000000000",
                                "update": "/11111111-2222-3333-4444-000000000000",
                                "delete": "/11111111-2222-3333-4444-000000000000",
                                "create": "/11111111-2222-3333-4444-000000000000" 
                            },
                            "uuid": "11111111-2222-3333-4444-000000000000",
                            "name": "sample 1"
                        },
                        "quantity": 0,
                        "type": "sample",
                        "unit": "mole"
                        } 
                    ]
                }
            }        
        }
    },
    "target": {
        "tube_rack": {
            "actions": {
                "read": "/11111111-2222-3333-4444-666666666666",
                "update": "/11111111-2222-3333-4444-666666666666",
                "delete": "/11111111-2222-3333-4444-666666666666",
                "create": "/11111111-2222-3333-4444-666666666666"
            },
        "uuid": "11111111-2222-3333-4444-666666666666",
        "location": null,
        "number_of_rows": 8,
        "number_of_columns": 12,
        "tubes": {
                "C3": {
                    "actions": {
                        "read": "/11111111-2222-3333-4444-888888888888",
                        "create": "/11111111-2222-3333-4444-888888888888",
                        "update": "/11111111-2222-3333-4444-888888888888",
                        "delete": "/11111111-2222-3333-4444-888888888888"
                    },
                    "uuid": "11111111-2222-3333-4444-888888888888",
                    "location": null,
                    "type": null,
                    "max_volume": null,
                    "aliquots": [ 
                        {"sample": {
                            "actions": {
                                "read": "/11111111-2222-3333-4444-000000000000",
                                "update": "/11111111-2222-3333-4444-000000000000",
                                "delete": "/11111111-2222-3333-4444-000000000000",
                                "create": "/11111111-2222-3333-4444-000000000000" 
                            },
                            "uuid": "11111111-2222-3333-4444-000000000000",
                            "name": "sample 1"
                        },
                        "quantity": 10,
                        "type": "sample",
                        "unit": "mole"
                        } 
                    ]
                }
            }
        }
    },
    "transfer_map": { "B5": "C3" }
}}


**Physically move tubes from source tube racks to target tube racks.**

It takes an array, which contains the elements of the movement.
An element has a source, source_location, target and target_location.
As it physically moves tubes, targeted locations mentioned in the movement elements need to be empty.

* `source_uuid` uuid of the source tube rack
* `source_location` the source tube location (like "A1") from move the source tube
* `target_uuid` uuid of the target tube rack
* `target_location` the target tube location (like "B1") to move the source tube

In the example below, the tube in B5 in the tube rack `11111111-2222-3333-4444-555555555555` is moved 
into the location C3 in the tube rack `11111111-2222-3333-4444-666666666666`.

POST /actions/tube_rack_move
> Accept: application/json
{ "tube_rack_move": {
    "moves": [
        {
            "source_uuid": "11111111-2222-3333-4444-555555555555",
            "source_location": "B5",
            "target_uuid": "11111111-2222-3333-4444-666666666666",
            "target_location": "C3"
        }
    ]
}}
< 200
< Content-Type: application/json
{ "tube_rack_move": {
    "actions": {},
    "user": "user",
    "application": "application",
    "result": [
        {
        "tube_rack": {
            "actions": {
                "read": "/11111111-2222-3333-4444-666666666666",
                "update": "/11111111-2222-3333-4444-666666666666",
                "delete": "/11111111-2222-3333-4444-666666666666",
                "create": "/11111111-2222-3333-4444-666666666666"
            },
            "uuid": "11111111-2222-3333-4444-666666666666",
            "location": null,
            "number_of_rows": 8,
            "number_of_columns": 12,
            "tubes": {
                "C3": {
                    "actions": {
                        "read": "/11111111-2222-3333-4444-777777777777",
                        "create": "/11111111-2222-3333-4444-777777777777",
                        "update": "/11111111-2222-3333-4444-777777777777",
                        "delete": "/11111111-2222-3333-4444-777777777777"
                    },
                    "uuid": "11111111-2222-3333-4444-777777777777",
                    "location": null,
                    "type": null,
                    "max_volume": null,
                    "aliquots": [ 
                        {"sample": {
                            "actions": {
                                "read": "/11111111-2222-3333-4444-000000000000",
                                "update": "/11111111-2222-3333-4444-000000000000",
                                "delete": "/11111111-2222-3333-4444-000000000000",
                                "create": "/11111111-2222-3333-4444-000000000000" 
                            },
                            "uuid": "11111111-2222-3333-4444-000000000000",
                            "name": "sample 1"
                        },
                        "quantity": 10,
                        "type": "sample",
                        "unit": "mole"
                        } 
                    ]
                }
            }
        }
        }
    ],
    "moves": [
        {
            "source_uuid": "11111111-2222-3333-4444-555555555555",
            "source_location": "B5",
            "target_uuid": "11111111-2222-3333-4444-666666666666",
            "target_location": "C3"
        }
    ]
}}


--
Spin Column Resource
--
**List actions for spin column resource.**

* `create` creates a new spin column via HTTP POST request
* `read` returns the list of actions for a spin column resource via HTTP GET request
* `first` lists the first spin columns resources in a page browsing system
* `last` lists the last spin columns resources in a page browsing system
GET /spin_columns
> Accept: application/json
< 200
< Content-Type: application/json
{ "spin_columns": {
    "actions": {
        "create": "/spin_columns",
        "read": "/spin_columns",
        "first": "/spin_columns/page=1",
        "last": "/spin_columns/page=-1"
    }
} }


**Create a new empty spin column.**
POST /spin_columns
> Accept: application/json
{ "spin_column": {} }
< 200
< Content-Type: application/json
{ "spin_column": {
    "actions": {
        "read": "/11111111-2222-3333-4444-555555555555",
        "create": "/11111111-2222-3333-4444-555555555555",
        "update": "/11111111-2222-3333-4444-555555555555",
        "delete": "/11111111-2222-3333-4444-555555555555"
    },
    "uuid": "11111111-2222-3333-4444-555555555555",
    "location": null,
    "aliquots": []
}}


--
Plate Resource
--
**List actions for tube rack resource.**

* `create` creates a new plate via HTTP POST request
* `read` returns the list of actions for a plate resource via HTTP GET request
* `first` lists the first plate resources in a page browsing system
* `last` lists the last plate resources in a page browsing system
GET /plates
> Accept: application/json
< 200
< Content-Type: application/json
{ "plates": {
    "actions": {
        "create": "/plates",
        "read": "/plates",
        "first": "/plates/page=1",
        "last": "/plates/page=-1"
    }
} }


**Create a new empty plate.**

* `number_of_rows` number of rows in the plate
* `number_of_columns` number of columns in the plate
* `type` actual type of the plate
* `wells_description` map aliquots to well locations
POST /plates
> Accept: application/json
{ "plate": {
    "number_of_rows": 8,
    "number_of_columns": 12,
    "type": "plate type",
    "wells_description": {}
}}
< 200
< Content-Type: application/json
{ "plate": {
    "actions": {
        "read": "/11111111-2222-3333-4444-555555555555",
        "update": "/11111111-2222-3333-4444-555555555555",
        "delete": "/11111111-2222-3333-4444-555555555555",
        "create": "/11111111-2222-3333-4444-555555555555"
    },
    "uuid": "11111111-2222-3333-4444-555555555555",
    "location": null,
    "number_of_rows": 8,
    "number_of_columns": 12,
    "type": "plate type",
    "wells": { 
        "A1": [], "A2": [], "A3": [], "A4": [], "A5": [], "A6": [], "A7": [], "A8": [], "A9": [], "A10": [], "A11": [], "A12": [],
        "B1": [], "B2": [], "B3": [], "B4": [], "B5": [], "B6": [], "B7": [],"B8": [],"B9": [],"B10": [],"B11": [],"B12": [],
        "C1": [], "C2": [], "C3": [], "C4": [], "C5": [], "C6": [], "C7": [],"C8": [],"C9": [],"C10": [],"C11": [],"C12": [],
        "D1": [], "D2": [], "D3": [], "D4": [], "D5": [], "D6": [], "D7": [],"D8": [],"D9": [],"D10": [],"D11": [],"D12": [],
        "E1": [], "E2": [], "E3": [], "E4": [], "E5": [], "E6": [], "E7": [],"E8": [],"E9": [],"E10": [],"E11": [],"E12": [],
        "F1": [], "F2": [], "F3": [], "F4": [], "F5": [], "F6": [], "F7": [],"F8": [],"F9": [],"F10": [],"F11": [],"F12": [],
        "G1": [], "G2": [], "G3": [], "G4": [], "G5": [], "G6": [], "G7": [],"G8": [],"G9": [],"G10": [],"G11": [],"G12": [],
        "H1": [], "H2": [], "H3": [], "H4": [], "H5": [], "H6": [], "H7": [],"H8": [],"H9": [],"H10": [],"H11": [],"H12": []}
}}


**Create a new plate with samples.**

* `number_of_rows` number of rows in the plate
* `number_of_columns` number of columns in the plate
* `type` actual type of the plate
* `wells_description` map aliquots to well locations
POST /plates
> Accept: application/json
{ "plate": {
    "number_of_rows": 8,
    "number_of_columns": 12,
    "type": "plate type",
    "wells_description": { 
        "C5": [
            {   "sample": "11111111-2222-3333-4444-666666666666", 
                "type": "DNA", 
                "quantity": 10 
            }
        ]
        "F1": [
            {   "sample": "11111111-2222-3333-4444-666666666666", 
                "type": "DNA", 
                "quantity": 10,
                "out_of_bounds": {
                    "attribute_1": "value 1"
                }
            }
        ]
} } }
< 200
< Content-Type: application/json
{ "plate": {
    "actions": {
        "read": "/11111111-2222-3333-4444-555555555555",
        "update": "/11111111-2222-3333-4444-555555555555",
        "delete": "/11111111-2222-3333-4444-555555555555",
        "create": "/11111111-2222-3333-4444-555555555555"
    },
    "uuid": "11111111-2222-3333-4444-555555555555",
    "location": null,
    "number_of_rows": 8,
    "number_of_columns": 12,
    "type": "plate type",
    "wells": { 
        "A1": [], "A2": [], "A3": [], "A4": [], "A5": [], "A6": [], "A7": [], "A8": [], "A9": [], "A10": [], "A11": [], "A12": [],
        "B1": [], "B2": [], "B3": [], "B4": [], "B5": [], "B6": [], "B7": [],"B8": [],"B9": [],"B10": [],"B11": [],"B12": [],
        "C1": [], "C2": [], "C3": [], "C4": [], 
        "C5": [ { "sample": {
            "actions": { 
                "read": "/11111111-2222-3333-4444-666666666666",
                "update": "/11111111-2222-3333-4444-666666666666",
                "delete": "/11111111-2222-3333-4444-666666666666",
                "create": "/11111111-2222-3333-4444-666666666666" 
            },
            "uuid": "11111111-2222-3333-4444-666666666666",
            "name": "sample 1"},
            "quantity": 10,
            "type": "DNA",
            "unit": "mole"
        } ],
        "C6": [],"C7": [],"C8": [],"C9": [],"C10": [],"C11": [],"C12": [],
        "D1": [], "D2": [], "D3": [], "D4": [], "D5": [], "D6": [], "D7": [],"D8": [],"D9": [],"D10": [],"D11": [],"D12": [],
        "E1": [], "E2": [], "E3": [], "E4": [], "E5": [], "E6": [], "E7": [],"E8": [],"E9": [],"E10": [],"E11": [],"E12": [],
        "F1": [{ "sample": {
            "actions": { 
                "read": "/11111111-2222-3333-4444-777777777777",
                "update": "/11111111-2222-3333-4444-777777777777",
                "delete": "/11111111-2222-3333-4444-777777777777",
                "create": "/11111111-2222-3333-4444-777777777777" 
            },
            "uuid": "11111111-2222-3333-4444-777777777777",
            "name": "sample 2"},
            "quantity": 10,
            "type": "DNA",
            "unit": "mole",
            "out_of_bounds": {
                "attribute_1": "value 1"
            }
        } ], 
        "F2": [], "F3": [], "F4": [], "F5": [], "F6": [], "F7": [],"F8": [],"F9": [],"F10": [],"F11": [],"F12": [],
        "G1": [], "G2": [], "G3": [], "G4": [], "G5": [], "G6": [], "G7": [],"G8": [],"G9": [],"G10": [],"G11": [],"G12": [],
        "H1": [], "H2": [], "H3": [], "H4": [], "H5": [], "H6": [], "H7": [],"H8": [],"H9": [],"H10": [],"H11": [],"H12": []}
}}

**Bulk create new empty plates.**

* `plates` is mandatory

This action creates a number of plates with the given parameters.
The parameter of this action is an array. An element of this array contains parameters to create a plate.

* `number_of_rows` number of rows in the plate
* `number_of_columns` number of columns in the plate
* `type` actual type of the plate
* `wells_description` map aliquots to well locations

The elements can contains different parameters, so this way we could create plates with different types and content with the use of only one action.

POST /plates
> Accept: application/json; representation=minimal
{
    "plates": [
        {
            "number_of_rows": 8,
            "number_of_columns": 12,
            "type": "plate type1",
            "wells_description": {
            }
        },
        {
            "number_of_rows": 8,
            "number_of_columns": 12,
            "type": "plate type2",
            "wells_description": {
            }
        },
        {
            "number_of_rows": 8,
            "number_of_columns": 12,
            "type": "plate type3",
            "wells_description": {
            }
        }
    ]
}
< 200
< Content-Type: application/json; bulk=true
{
    "actions": {
    },
    "plates": [
        {
            "actions": {
                "read": "http://example.org/11111111-2222-3333-4444-555555555555",
                "update": "http://example.org/11111111-2222-3333-4444-555555555555",
                "delete": "http://example.org/11111111-2222-3333-4444-555555555555",
                "create": "http://example.org/11111111-2222-3333-4444-555555555555"
            },
            "uuid": "11111111-2222-3333-4444-555555555555"
        },
        {
            "actions": {
                "read": "http://example.org/11111111-2222-3333-4444-666666666666",
                "update": "http://example.org/11111111-2222-3333-4444-666666666666",
                "delete": "http://example.org/11111111-2222-3333-4444-666666666666",
                "create": "http://example.org/11111111-2222-3333-4444-666666666666"
            },
            "uuid": "11111111-2222-3333-4444-666666666666"
        },
        {
            "actions": {
                "read": "http://example.org/11111111-2222-3333-4444-777777777777",
                "update": "http://example.org/11111111-2222-3333-4444-777777777777",
                "delete": "http://example.org/11111111-2222-3333-4444-777777777777",
                "create": "http://example.org/11111111-2222-3333-4444-777777777777"
            },
            "uuid": "11111111-2222-3333-4444-777777777777"
        }
    ],
    "size": 3
}


**Update a plate.**

All the aliquots in each well of the plate will be updated with `aliquot_type` and `aliquot_quantity`.

* `type` new type of the plate
* `aliquot_type` new type of aliquots
* `aliquot_quantity` new quantity of aliquots. volume (ul) if liquid, mass (mg) if solid.

PUT /11111111-2222-3333-4444-555555555555
> Accept: application/json
{ "type": "new plate type", "aliquot_type": "RNA", "aliquot_quantity": 10 }
< 200
< Content-Type: application/json
{ "plate": {
    "actions": {
        "read": "/11111111-2222-3333-4444-555555555555",
        "update": "/11111111-2222-3333-4444-555555555555",
        "delete": "/11111111-2222-3333-4444-555555555555",
        "create": "/11111111-2222-3333-4444-555555555555"
    },
    "uuid": "11111111-2222-3333-4444-555555555555",
    "location": null,
    "number_of_rows": 8,
    "number_of_columns": 12,
    "type": "new plate type",
    "wells": { 
        "A1": [], "A2": [], "A3": [], "A4": [], "A5": [], "A6": [], "A7": [], "A8": [], "A9": [], "A10": [], "A11": [], "A12": [],
        "B1": [], "B2": [], "B3": [], "B4": [], "B5": [], "B6": [], "B7": [],"B8": [],"B9": [],"B10": [],"B11": [],"B12": [],
        "C1": [], "C2": [], "C3": [], "C4": [], 
        "C5": [ { "sample": {
            "actions": { 
                "read": "/11111111-2222-3333-4444-666666666666",
                "update": "/11111111-2222-3333-4444-666666666666",
                "delete": "/11111111-2222-3333-4444-666666666666",
                "create": "/11111111-2222-3333-4444-666666666666" 
            },
            "uuid": "11111111-2222-3333-4444-666666666666",
            "name": "sample 1"},
            "quantity": 10,
            "type": "RNA",
            "unit": "mole"
        } ],
        "C6": [],"C7": [],"C8": [],"C9": [],"C10": [],"C11": [],"C12": [],
        "D1": [], "D2": [], "D3": [], "D4": [], "D5": [], "D6": [], "D7": [],"D8": [],"D9": [],"D10": [],"D11": [],"D12": [],
        "E1": [], "E2": [], "E3": [], "E4": [], "E5": [], "E6": [], "E7": [],"E8": [],"E9": [],"E10": [],"E11": [],"E12": [],
        "F1": [], "F2": [], "F3": [], "F4": [], "F5": [], "F6": [], "F7": [],"F8": [],"F9": [],"F10": [],"F11": [],"F12": [],
        "G1": [], "G2": [], "G3": [], "G4": [], "G5": [], "G6": [], "G7": [],"G8": [],"G9": [],"G10": [],"G11": [],"G12": [],
        "H1": [], "H2": [], "H3": [], "H4": [], "H5": [], "H6": [], "H7": [],"H8": [],"H9": [],"H10": [],"H11": [],"H12": []}
}}


**Update individual wells in a plate.**

For each location mentionnend in `wells`, the aliquot containing the referenced sample_uuid is updated 
with aliquot_type and aliquot_quantity.

* `wells` map a location in the plate to aliquot data

PUT /11111111-2222-3333-4444-555555555555
> Accept: application/json
{ 
    "wells": {
        "A1": {
            "sample_uuid": "11111111-2222-3333-4444-666666666666", 
            "out_of_bounds": {
                "attribute_1": "value 1",
                "attribute_2": "value 2"
            }
        },
        "C5": {
            "sample_uuid": "11111111-2222-3333-4444-777777777777", 
            "aliquot_type": "New type", 
            "aliquot_quantity": 100 
        }
    }
}
< 200
< Content-Type: application/json
{ "plate": {
    "actions": {
        "read": "/11111111-2222-3333-4444-555555555555",
        "update": "/11111111-2222-3333-4444-555555555555",
        "delete": "/11111111-2222-3333-4444-555555555555",
        "create": "/11111111-2222-3333-4444-555555555555"
    },
    "uuid": "11111111-2222-3333-4444-555555555555",
    "location": null,
    "number_of_rows": 8,
    "number_of_columns": 12,
    "type": null,
    "wells": { 
        "A1": [ 
            {
                "sample": {
                    "actions": {
                        "read": "http://example.org/11111111-2222-3333-4444-666666666666",
                        "update": "http://example.org/11111111-2222-3333-4444-666666666666",
                        "delete": "http://example.org/11111111-2222-3333-4444-666666666666",
                        "create": "http://example.org/11111111-2222-3333-4444-666666666666"
                    },
                    "uuid": "11111111-2222-3333-4444-666666666666",
                    "name": "sample 1"
                },
                "quantity": 5,
                "type": "RNA",
                "unit": "mole",
                "out_of_bounds": {
                    "attribute_1": "value 1",
                    "attribute_2": "value 2"
                }
            }
        ], 
        "A2": [], "A3": [], "A4": [], "A5": [], "A6": [], "A7": [], "A8": [], "A9": [], "A10": [], "A11": [], "A12": [],
        "B1": [], "B2": [], "B3": [], "B4": [], "B5": [], "B6": [], "B7": [],"B8": [],"B9": [],"B10": [],"B11": [],"B12": [],
        "C1": [], "C2": [], "C3": [], "C4": [], 
        "C5": [ { "sample": {
            "actions": { 
                "read": "/11111111-2222-3333-4444-777777777777",
                "update": "/11111111-2222-3333-4444-777777777777",
                "delete": "/11111111-2222-3333-4444-777777777777",
                "create": "/11111111-2222-3333-4444-777777777777" 
            },
            "uuid": "11111111-2222-3333-4444-777777777777",
            "name": "sample 2"},
            "quantity": 100,
            "type": "New type",
            "unit": "mole"
        } ],
        "C6": [],"C7": [],"C8": [],"C9": [],"C10": [],"C11": [],"C12": [],
        "D1": [], "D2": [], "D3": [], "D4": [], "D5": [], "D6": [], "D7": [],"D8": [],"D9": [],"D10": [],"D11": [],"D12": [],
        "E1": [], "E2": [], "E3": [], "E4": [], "E5": [], "E6": [], "E7": [],"E8": [],"E9": [],"E10": [],"E11": [],"E12": [],
        "F1": [], "F2": [], "F3": [], "F4": [], "F5": [], "F6": [], "F7": [],"F8": [],"F9": [],"F10": [],"F11": [],"F12": [],
        "G1": [], "G2": [], "G3": [], "G4": [], "G5": [], "G6": [], "G7": [],"G8": [],"G9": [],"G10": [],"G11": [],"G12": [],
        "H1": [], "H2": [], "H3": [], "H4": [], "H5": [], "H6": [], "H7": [],"H8": [],"H9": [],"H10": [],"H11": [],"H12": []}
}}

** View the minimal representation of a plate.**

* `uuid_of_the_plate` for example: 11111111-2222-3333-4444-555555555555

With the representation parameter set to minimal the JSON should only contains the action and the UUID of the object.

`'Content-Type': 'application/json; level_of_detail=minimum'`

GET /<uuid_of_the_plate>
> Accept: application/json; representation=minimal
< 200
< Content-Type: application/json; level_of_detail=minimum
{
    "plate": {
        "actions": {
            "read": "http://example.org/11111111-2222-3333-4444-555555555555",
            "update": "http://example.org/11111111-2222-3333-4444-555555555555",
            "delete": "http://example.org/11111111-2222-3333-4444-555555555555",
            "create": "http://example.org/11111111-2222-3333-4444-555555555555"
        },
        "uuid": "11111111-2222-3333-4444-555555555555"
    }
}

** View the plate attributes in the JSON.**

* `uuid_of_the_plate` for example: 11111111-2222-3333-4444-555555555555

With the representation parameter set to minimal the JSON should only contains the action and the UUID of the object.

`'Content-Type': 'application/json; level_of_detail=minimum'`

GET /<uuid_of_the_plate>
> Accept: application/json; representation=attributes
< 200
< Content-Type: application/json; level_of_detail=minimum
{
    "plate": {
        "actions": {
            "read": "http://example.org/11111111-2222-3333-4444-555555555555",
            "update": "http://example.org/11111111-2222-3333-4444-555555555555",
            "delete": "http://example.org/11111111-2222-3333-4444-555555555555",
            "create": "http://example.org/11111111-2222-3333-4444-555555555555"
        },
        "uuid": "11111111-2222-3333-4444-555555555555",
        "location": null,
        "number_of_rows": 8,
        "number_of_columns": 12,
        "type": "original plate type"
    }
}


**Transfer content from a source plate to a target plate.**

* `source_uuid` uuid of the source plate
* `target_uuid` uuid of the target plate
* `transfer_map` map locations in the source plate to other locations in the target plate
* `aliquot_type` set a new type for all aliquots in the target plate

POST /actions/plate_transfer
> Accept: application/json
{ "plate_transfer": {
    "source_uuid": "11111111-2222-3333-4444-555555555555",
    "target_uuid": "11111111-2222-3333-4444-666666666666",
    "transfer_map": { "C5": "B2"},
    "aliquot_type": "new type"
}}
< 200
< Content-Type: application/json
{ "plate_transfer": {
    "actions": {},
    "user": "user",
    "application": "application",
    "result": {
        "plate": {
            "actions": {
                "read": "/11111111-2222-3333-4444-666666666666",
                "update": "/11111111-2222-3333-4444-666666666666",
                "delete": "/11111111-2222-3333-4444-666666666666",
                "create": "/11111111-2222-3333-4444-666666666666"
            },
            "uuid": "11111111-2222-3333-4444-666666666666",
            "location": null,
            "number_of_rows": 8,
            "number_of_columns": 12,
            "type": "target plate type",
            "wells": {
                "A1": [], "A2": [], "A3": [], "A4": [], "A5": [], "A6": [], "A7": [], "A8": [], "A9": [], "A10": [], "A11": [], "A12": [], 
                "B1": [], 
                "B2": [ { 
                    "sample": {
                        "actions": { 
                            "read": "/11111111-2222-3333-4444-777777777777",
                            "update": "/11111111-2222-3333-4444-777777777777",
                            "delete": "/11111111-2222-3333-4444-777777777777",
                            "create": "/11111111-2222-3333-4444-777777777777"
                        },
                    "uuid": "11111111-2222-3333-4444-777777777777",
                    "name": "sample 1"},
                    "type": "new type",
                    "unit": "mole"
                } ], 
                "B3": [], "B4": [], "B5": [], "B6": [], "B7": [], "B8": [], "B9": [], "B10": [], "B11": [], "B12": [], 
                "C1": [], "C2": [], "C3": [], "C4": [], "C5": [], "C6": [], "C7": [], "C8": [], "C9": [], "C10": [], "C11": [], "C12": [], 
                "D1": [], "D2": [], "D3": [], "D4": [], "D5": [], "D6": [], "D7": [], "D8": [], "D9": [], "D10": [], "D11": [], "D12": [], 
                "E1": [], "E2": [], "E3": [], "E4": [], "E5": [], "E6": [], "E7": [], "E8": [], "E9": [], "E10": [], "E11": [], "E12": [], 
                "F1": [], "F2": [], "F3": [], "F4": [], "F5": [], "F6": [], "F7": [], "F8": [], "F9": [], "F10": [], "F11": [], "F12": [], 
                "G1": [], "G2": [], "G3": [], "G4": [], "G5": [], "G6": [], "G7": [], "G8": [], "G9": [], "G10": [], "G11": [], "G12": [], 
                "H1": [], "H2": [], "H3": [], "H4": [], "H5": [], "H6": [], "H7": [], "H8": [], "H9": [], "H10": [], "H11": [], "H12": []
            }    
        }
    },
    "source": {
        "plate": {
            "actions": {
                "read": "/11111111-2222-3333-4444-555555555555",
                "update": "/11111111-2222-3333-4444-555555555555",
                "delete": "/11111111-2222-3333-4444-555555555555",
                "create": "/11111111-2222-3333-4444-555555555555"
            },
[...]
